
/* *{
    scrollbar-width: auto;
    scrollbar-color: #bababa #ededed;
}
*::-webkit-scrollbar {
    width: 8px;
}
*::-webkit-scrollbar-track {
    background: #ededed;
}
*::-webkit-scrollbar-thumb {
    background-color: #bababa;
    border-radius: 10px;
    border: 0px solid #ffffff;
} */

/* ////////////////////////////////////////////////////// */
/* ///             payment credit card content        /// */ 
/* ////////////////////////////////////////////////////// */
.payment-credit-card-content{
    width: 90%;
    box-sizing: border-box;
    margin: 10px auto;
    margin-bottom: 40px;

    display: flex;
    justify-content: space-between;
}
.payment-credit-card-content > div{
    width: 45%;
    height: 160px;
    box-sizing: border-box;

    position: relative;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 6px;
    overflow: hidden;
    -webkit-box-shadow: 0px 7px 8px -8px rgba(0,0,0,0.45); 
    box-shadow: 0px 7px 8px -8px rgba(0,0,0,0.45);
}
.payment-credit-card-content-front input{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-weight: bold;
    text-shadow: 1px 2px #dddddd;

    position: absolute;
    color: #333333;
    background-color: transparent;
    border: 1px solid transparent;
}
.payment-credit-card-content-front input:nth-child(1){
    width: 90%;
    font-size: 20px;
    top: 28%;
    left: 5%;
    letter-spacing: 2px;
}
.payment-credit-card-content-front input:nth-child(2){
    width: 65%;
    font-size: 13px;
    top: 65%;
    left: 5%;
    letter-spacing: 2px;
}
.payment-credit-card-content-front input:nth-child(3){
    width: 25%;
    font-size: 13px;
    top: 65%;
    right: 5%;
    letter-spacing: 2px;
}
.payment-credit-card-content-back article:nth-child(1){
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    background-color: #999999;
    position: absolute;
    top: 10%;
}
.payment-credit-card-content-back article:nth-child(2){
    width: 40%;
    height: 20px;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 10%;
}
.payment-credit-card-content-back input{
    width: 15%;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #333333;
    padding: 0px 8px;

    position: absolute;
    top: 50%;
    left: 55%;

    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 6px;
}

/* //////////////////////////////////////////////////// */
/* ///                 sections                     /// */ 
/* /////////////////////////////////////////// //////// */
.sections{
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.sections-headers{
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 0px;
}
.sections-headers h2{
    width: 100%;
    padding-bottom: 30px;
    text-align: center;
    font-family: "raleway-semibold", sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #333333;
}

/* ////////////////////////////////////////////////////// */
/* ///         order summary right sidebar            /// */ 
/* ////////////////////////////////////////////////////// */
.order-summary-right-sidebar{
    width: 25%;
    box-sizing: border-box;
}
.order-summary-right-sidebar h4{
    width: fit-content;
    box-sizing: border-box;
    margin: 10px auto;
    margin-bottom: 40px;

    font-family: "raleway-semibold", sans-serif;
    font-size: 16px;
    color: #333333;
}
.order-summary-right-sidebar div{
    width: 100%;
    margin: 10px auto;
    margin-bottom: 20px;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    font-size: 16px;
    color: #333333;
}
.order-summary-right-sidebar div label:first-child{
    font-family: "raleway-semibold", sans-serif;
    margin-left: 15px;
}
.order-summary-right-sidebar div label:last-child{
    font-family: "raleway-regular", sans-serif;
    margin-right: 20px;
}
.order-summary-right-sidebar .total{
    padding-top: 10px;
    border-top: 1px solid #dddddd;
}
.order-summary-right-sidebar .total strong:first-child{
    font-size: 18px;
    font-family: "raleway-semibold", sans-serif;
    margin-left: 10px;
}
.order-summary-right-sidebar .total strong:last-child{
    font-size: 16px;
    font-family: "raleway-regular", sans-serif;
    margin-right: 10px;
}
.order-summary-right-sidebar div input{
    border: 1px solid #dddddd;
    width: 40%;
    font-family: "raleway-regular", sans-serif;
    font-size: 16px;
    padding: 2px 4px;
    border-radius: 4px;
}
.order-summary-right-sidebar-creditcar-btn{
    width: 90%;
    margin: 30px auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;

    padding: 8px 0;
    font-size: 16px;
    font-family: "raleway-semibold", sans-serif;
    color: #333333;
    border-radius: 4px;
    background-color: #fafafa;
    border: 1px solid #cccccc;
    transition: box-shadow 0.3s ease-in-out;
}
.order-summary-right-sidebar-creditcar-btn:hover{
    box-shadow: 0px 0px 5px #e6e6e6;
}
.order-summary-right-sidebar-paypal-btn{
    width: 90%;
    margin: 30px auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;

    padding: 8px 0;
    font-size: 16px;
    font-family: "raleway-semibold", sans-serif;
    color: #ffffff;
    border-radius: 6px;
    background-color: #0099ff;
    border: 1px solid #007acc;
    transition: box-shadow 0.3s ease-in-out;
}
.order-summary-right-sidebar-paypal-btn:hover{
    box-shadow: 0px 0px 5px #0099ff;
}

.order-summary-right-sidebar address{
    width: 90%;
    margin: 10px auto;
    box-sizing: border-box;
    font-size: 12px;
    font-family: "raleway-regular", sans-serif;
    color: #333333;
    line-height: 16px;
}
.order-summary-right-sidebar address a{
    color: #0099ff;
}


/* ////////////////////////////////////////////////////// */
/* ///                hidden order summary            /// */ 
/* ////////////////////////////////////////////////////// */
.hidden-order-summary{
    width: 90%;
    margin: 20px auto;

    display: none; /* this will change */
    justify-content: space-between;
    align-items: flex-start;
}
.hidden-order-summary > div{
    width: 30%;
    box-sizing: border-box;
}
.hidden-order-summary p{
    width: 100%;
    margin: 0px auto;
    margin-bottom: 15px;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    font-family: "raleway-regular", sans-serif;
    font-size: 13px;
    color: #333333;
}
.hidden-order-summary p label:first-child{
    font-family: "raleway-semibold", sans-serif;
}
.hidden-order-summary p label:last-child{
    font-family: "raleway-regular", sans-serif;
}
.hidden-order-summary p strong:first-child{
    font-size: 16px;
    font-family: "raleway-semibold", sans-serif;
}
.hidden-order-summary p strong:last-child{
    font-size: 16px;
    font-family: "raleway-regular", sans-serif;
}
.hidden-order-summary p input{
    border: 1px solid #dddddd;
    width: 50%;
    font-family: "raleway-regular", sans-serif;
    font-size: 14px;
    padding: 2px 4px;
    border-radius: 4px;
}
.hidden-order-summary p button{   
    width: fit-content;
    font-family: "raleway-regular", sans-serif;
    font-size: 13px;
    padding: 4px 10px;
    border: 1px solid #cccccc;
    background-color: #dddddd;
    border-radius: 4px;
}
.hidden-order-summary-creditcard-btn{
    width: 100%;
    margin: 20px auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;

    padding: 6px 0;
    font-size: 14px;
    font-family: "raleway-semibold", sans-serif;
    color: #333333;
    border-radius: 6px;
    background-color: #fafafa;
    border: 1px solid #dddddd;
}
.hidden-order-summary-paypal-btn{
    width: 100%;
    margin: 20px auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;

    padding: 6px 0;
    font-size: 14px;
    font-family: "raleway-semibold", sans-serif;
    color: #ffffff;
    border-radius: 6px;
    background-color: #0099ff;
    border: 1px solid #007acc;
}

/* //////////////////////////////////////////////////// */
/* ///                 pagination                   /// */ 
/* /////////////////////////////////////////// //////// */
.pagination{
    width: 95%;
    margin: 20px auto;
    box-sizing: border-box;
    overflow: hidden;
}
.pagination-content{
    width: fit-content;
    margin: 0px auto;
    box-sizing: border-box;
    display: flex;
}
.pagination-content button{
    box-sizing: border-box;
    border: 1px solid #ddd;
    background-color: #ffffff;
    color: #333333;
    border-radius: 3px;
    font-family: "raleway-medium", sans-serif;
    font-size: 14px;
    padding: 4px 6px;
    margin: 0 6px;

    display: flex;
    align-items: center;
    justify-content: center;
}


/* ////////////////////////////////////////////////////// */
/* ///           signup-login form header             /// */ 
/* ////////////////////////////////////////////////////// */
.signup-login-form-header{
    width: 50%;
    margin: 0px auto;
    margin-top: 40px;
    margin-bottom: 40px;
    box-sizing: border-box;
}
.signup-login-form-header-logo, 
.signup-login-form-header-title{
    width: 100%;
    box-sizing: border-box;
}
.signup-login-form-header-logo a{
    display: block;
    width: fit-content;
    margin: 10px auto;

    font-family: "raleway-semibold", sans-serif;
    font-size: 36px;
    color: #0099ff;
}
.signup-login-form-header-title{
    margin-top: 40px;
}
.signup-login-form-header-title h4{
    width: fit-content;
    margin: 10px auto;

    font-family: "raleway-semibold", sans-serif;
    font-size: 24px;
    color: #333333;
}

/* ////////////////////////////////////////////////////// */
/* ///          signup-login form content             /// */ 
/* ////////////////////////////////////////////////////// */
.signup-login-form-content{
    width: 30%;
    margin: 20px auto;
    box-sizing: border-box;
}
.signup-login-form-content-single-input,
.signup-login-form-content-double-input,
.signup-login-form-content-triple-input,
.signup-login-form-content-single-radio{
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.signup-login-form-content-single-input strong,
.signup-login-form-content-double-input strong,
.signup-login-form-content-triple-input strong,
.signup-login-form-content-single-radio strong{
    display: block;
    width: 99%;
    margin-bottom: 10px;
    box-sizing: border-box;

    font-family: "raleway-regular", sans-serif;
    font-size: 20px;
    color: #333333;
}
.signup-login-form-content-single-input input,
.signup-login-form-content-double-input input,
.signup-login-form-content-triple-input select{
    display: block;
    box-sizing: border-box;

    font-family: "raleway-regular", sans-serif;
    font-size: 16px;
    color: #333333;    
    padding: 4px 8px;

    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    transition: box-shadow 0.3s ease-in-out;
}
.signup-login-form-content-single-input input:focus,
.signup-login-form-content-double-input input:focus,
.signup-login-form-content-triple-input select:focus{
    box-shadow: 0px 0px 5px #e6e6e6;
}
.signup-login-form-content-single-input input{
    width: 100%;
}
.signup-login-form-content-double-input input{
    width: 49%;
}
.signup-login-form-content-triple-input select{
    width: 32%;
}
.signup-login-form-content-single-radio{
    justify-content: stretch;
}
.signup-login-form-content-single-radio label{
    display: block;
    width: fit-content;
    margin-right: 5%;

    font-family: "raleway-regular", sans-serif;
    font-size: 16px;
    color: #333333; 
}

/* ////////////////////////////////////////////////////// */
/* ///      signup-login form content submit btn      /// */ 
/* ////////////////////////////////////////////////////// */
.signup-login-form-content-submit-btn{
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box;
}
.signup-login-form-content-submit-btn button{
    display: block;
    width: 100%;
    box-sizing: border-box;

    font-family: "raleway-semibold", sans-serif;
    font-size: 18px;
    color: #333333; 
    padding: 4px 0;

    border-radius: 6px;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
}
.signup-login-form-content-submit-btn button:hover{
    background-color: #dddddd;
}
.signup-login-form-content-submit-btn span{
    width: 100%;
    display: block;
    margin-top: 5px;
    box-sizing: border-box;

    font-family: "raleway-regular", sans-serif;
    font-size: 12px;
    color: #333333;
    line-height: 18px; 
}

/* ////////////////////////////////////////////////////// */
/* ///               signup-login form footer         /// */ 
/* ////////////////////////////////////////////////////// */
.signup-login-form-footer{
    width: 45%;
    margin: 0px auto;
    margin-top: 40px;
    box-sizing: border-box;
}
.signup-login-form-footer h6{
    width: fit-content;
    margin: 0 auto;
    font-family: "raleway-regular", sans-serif;
    font-size: 16px;
    color: #333333;
    line-height: 18px; 
}
.signup-login-form-footer h6 a{
    color: #0099ff;
}

@media screen and (max-width: 834px) {
    
    *::-webkit-scrollbar {
        width: 6px;
    }

    /* ////////////////////////////////////////////////////// */
    /* ///             payment credit card content        /// */ 
    /* ////////////////////////////////////////////////////// */
    .payment-credit-card-content{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .payment-credit-card-content > div{
        width: 45%;
        height: 140px;
    }
    .payment-credit-card-content-front input:nth-child(1){
        width: 90%;
        font-size: 16px;
        top: 28%;
        left: 5%;
    }
    .payment-credit-card-content-front input:nth-child(2){
        width: 65%;
        font-size: 12px;
        top: 65%;
        left: 5%;
    }
    .payment-credit-card-content-front input:nth-child(3){
        width: 25%;
        font-size: 12px;
        top: 65%;
        right: 10%;
    }
    .payment-credit-card-content-back input{
        width: 18%;
        font-size: 14px;
        padding: 0px 8px;

        top: 50%;
        left: 55%;
    }

    /* //////////////////////////////////////////////////// */
    /* ///                 sections                     /// */ 
    /* /////////////////////////////////////////// //////// */
    .sections-headers{
        width: 70%;
        margin-top: 30px;
    }
    .sections-headers h2{
        padding-bottom: 20px;
        font-size: 28px;
    }

    /* ////////////////////////////////////////////////////// */
    /* ///         order summary right sidebar            /// */ 
    /* ////////////////////////////////////////////////////// */
    .order-summary-right-sidebar{
        display: none;
    }

    /* ////////////////////////////////////////////////////// */
    /* ///                hidden order summary            /// */ 
    /* ////////////////////////////////////////////////////// */
    .hidden-order-summary{
        display: flex;
        width: 85%;
        margin: 20px auto;
    }
    .hidden-order-summary > div{
        width: 35%;
    }

    /* ////////////////////////////////////////////////////// */
    /* ///           myorder content pagination           /// */ 
    /* ////////////////////////////////////////////////////// */
    .pagination{
        margin: 15px auto;
    }  
    .pagination-content button{
        font-size: 12px;
        padding: 4px 6px;
    }

    /* ////////////////////////////////////////////////////// */
    /* ///             signup-login form header           /// */ 
    /* ////////////////////////////////////////////////////// */
    .signup-login-form-header{
        width: 60%;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .signup-login-form-header-logo a{
        margin: 10px auto;
        font-size: 28px;
    }
    .signup-login-form-header-title{
        margin-top: 40px;
    }
    .signup-login-form-header-title h4{
        margin: 10px auto;
        font-size: 20px;
    }

    /* ////////////////////////////////////////////////////// */
    /* ///            signup-login form content           /// */ 
    /* ////////////////////////////////////////////////////// */
    .signup-login-form-content{
        width: 60%;
        margin: 20px auto;
    }

    .signup-login-form-content-single-input strong,
    .signup-login-form-content-double-input strong,
    .signup-login-form-content-triple-input strong,
    .signup-login-form-content-single-radio strong{
        width: 99%;
        margin-bottom: 10px;
        font-size: 16px;
    }
    .signup-login-form-content-single-input input,
    .signup-login-form-content-double-input input,
    .signup-login-form-content-triple-input select{
        font-size: 14px;   
        padding: 4px 8px;
    }
    .signup-login-form-content-single-radio label{
        margin-right: 5%;
        font-size: 14px;
    }

    /* ////////////////////////////////////////////////////// */
    /* ///      signup-login form content submit btn      /// */ 
    /* ////////////////////////////////////////////////////// */
    .signup-login-form-content-submit-btn{
        width: 100%;
        margin-top: 20px;
    }
    .signup-login-form-content-submit-btn button{
        font-size: 16px;
        padding: 2px 0;
    }
    .signup-login-form-content-submit-btn span{
        margin-top: 5px;
        font-size: 11px;
        line-height: 14px; 
    }

    /* ////////////////////////////////////////////////////// */
    /* ///              signup-login form footer          /// */ 
    /* ////////////////////////////////////////////////////// */
    .signup-login-form-footer{
        width: 45%;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .signup-login-form-footer h6{
        font-size: 14px;
        line-height: 16px; 

    }

}

@media screen and (max-width: 414px) {
    
    /* ////////////////////////////////////////////////////// */
    /* ///             payment credit card content        /// */ 
    /* ////////////////////////////////////////////////////// */
    .payment-credit-card-content{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 30px;
        display: block;
    }
    .payment-credit-card-content > div{
        width: 100%;
        height: 120px;
        margin-bottom: 20px;
    }
    .payment-credit-card-content-front input:nth-child(1){
        width: 90%;
        font-size: 14px;
        top: 28%;
        left: 5%;
    }
    .payment-credit-card-content-front input:nth-child(2){
        width: 65%;
        font-size: 11px;
        top: 65%;
        left: 5%;
    }
    .payment-credit-card-content-front input:nth-child(3){
        width: 27%;
        font-size: 11px;
        top: 65%;
        right: 5%;
    }
    .payment-credit-card-content-back input{
        width: 15%;
        font-size: 12px;
        padding: 0px 8px;

        top: 50%;
        left: 55%;
    }

    /* //////////////////////////////////////////////////// */
    /* ///                 sections                     /// */ 
    /* /////////////////////////////////////////// //////// */
    .sections-headers{
        margin-top: 20px;
    }
    .sections-headers h2{
        padding-bottom: 15px;
        padding-top: 10px;
        font-size: 20px;
    }

    /* ////////////////////////////////////////////////////// */
    /* ///                hidden order summary            /// */ 
    /* ////////////////////////////////////////////////////// */
    .hidden-order-summary{
        width: 90%;
        margin: 10px auto;
    }
    .hidden-order-summary div:first-child{
        width: 35%;
    }
    .hidden-order-summary div:last-child{
        width: 50%;
    }
    .hidden-order-summary p{
        margin-bottom: 15px;
        font-size: 12px;
    }
    .hidden-order-summary p strong:first-child{
        font-size: 14px;
        font-family: "raleway-semibold", sans-serif;
    }
    .hidden-order-summary p strong:last-child{
        font-size: 14px;
        font-family: "raleway-regular", sans-serif;
    }
    .hidden-order-summary p input{
        width: 50%;
        font-size: 13px;
        padding: 2px 4px;
    }
    .hidden-order-summary p button{   
        font-size: 12px;
        padding: 4px 10px;
    }
    .hidden-order-summary-creditcard-btn,
    .hidden-order-summary-paypal-btn{
        margin: 20px auto;

        padding: 6px 0;
        font-size: 13px;
    }

    /* ////////////////////////////////////////////////////// */
    /* ///         myorder content pagination           /// */ 
    /* ////////////////////////////////////////////////////// */
    .pagination{
        margin: 15px auto;
    }  
    .pagination-content button{
        font-size: 12px;
        font-weight: bold;
        padding: 4px 8px;
    }


    /* ////////////////////////////////////////////////////// */
    /* ///             signup-login form header           /// */ 
    /* ////////////////////////////////////////////////////// */
    .signup-login-form-header{
        width: 90%;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .signup-login-form-header-logo a{
        margin: 10px auto;
        font-size: 24px;
    }
    .signup-login-form-header-title{
        margin-top: 20px;
    }
    .signup-login-form-header-title h4{
        margin: 10px auto;
        font-size: 16px;
    }

    /* ////////////////////////////////////////////////////// */
    /* ///            signup-login form content            /// */ 
    /* ////////////////////////////////////////////////////// */
    .signup-login-form-content{
        width: 85%;
        margin: 20px auto;
    }
    .signup-login-form-content-single-input strong,
    .signup-login-form-content-double-input strong,
    .signup-login-form-content-triple-input strong,
    .signup-login-form-content-single-radio strong{
        width: 99%;
        margin-bottom: 10px;
        font-size: 14px;
    }
    .signup-login-form-content-single-input input,
    .signup-login-form-content-double-input input,
    .signup-login-form-content-triple-input select{
        font-size: 12px;   
        padding: 4px 6px;
    }
    .signup-login-form-content-single-radio label{
        margin-right: 5%;
        font-size: 12px;
    }

    /* ////////////////////////////////////////////////////// */
    /* ///     signup-login form content submit btn       /// */ 
    /* ////////////////////////////////////////////////////// */
    .signup-login-form-content-submit-btn{
        width: 100%;
        margin-top: 20px;
    }
    .signup-login-form-content-submit-btn button{
        font-size: 14px;
        padding: 2px 0;
    }
    .signup-login-form-content-submit-btn span{
        margin-top: 5px;
        font-size: 11px;
        line-height: 14px; 
    }

    /* ////////////////////////////////////////////////////// */
    /* ///           signup-login form footer             /// */ 
    /* ////////////////////////////////////////////////////// */
    .signup-login-form-footer{
        width: 80%;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .signup-login-form-footer h6{
        font-size: 12px;
        line-height: 16px; 
    }


}
